
<header>

    <div class="container-grid content-menu">

        <img class="logo" src="assets/imagen/logo.svg" title="logo-menu" alt="logo">

        <nav class="menu">
            <a class="text-white text-decoration-none " href="./login">Login</a>
            <a class="text-white text-decoration-none " href="">Início</a>
            <a class="text-white text-decoration-none " href="#">Horários</a>
            <a class="text-white text-decoration-none " href="#">Campeonato</a>
            <a class="text-white text-decoration-none " href="#">Resultados</a>
            <a class="text-white text-decoration-none " href="#">Notícias</a>
        </nav>

        <img class="menu-bars" onclick="abreFechaMenu()" id="menu-bars" src="assets/imagen/bars.svg" alt="bars">
    </div>


</header>