<div id="footer" class="footer-color">
    <div class="widgets-dark typo-light">
        <div class="container">
            <div class="py-4">
                <div class="row">
                    <div class="col-sm-6 col-md-3 logo-footer pt-5">
                        <img class="img_logo_footer" src="assets/imagen/logo.svg" alt="logo">
                    </div>

                    <div class="col-xs-12 col-sm-6 d-flex justify-content-evenly box-links">
                        <div class="col-xs-12 col-sm-6 pt-4 link">
                            <div class="widget no-box">
                                <h2 class="widget-title">Link<span></span></h2>
                                <ul class="thumbnail-widget">
                                    <li>
                                        <div class="thumb-content">
                                            <a class="text-white text-decoration-none" href="#.">regras de
                                                utilização</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-content">
                                            <a class="text-white text-decoration-none" href="#.">suporte</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-content">
                                            <a class="text-white text-decoration-none" href="#.">central de
                                                ajuda</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-content">
                                            <a class="text-white text-decoration-none" href="#.">contatos</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 pt-4 paginas">
                            <div class="widget no-box">
                                <h5 class="widget-title">Páginas<span></span></h5>
                                <ul class="thumbnail-widget">
                                    <li>
                                        <div class="thumb-content"><a class="text-white text-decoration-none"
                                                href="#.">rinicios</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a class="text-white text-decoration-none"
                                                href="#.">scompeonatos</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a class="text-white text-decoration-none"
                                                href="#.">resultados</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a class="text-white text-decoration-none"
                                                href="#.">noticias</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a class="text-white text-decoration-none"
                                                href="#.">login/cadastros</a></div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 pt-4 box-inpult">
                        <h5 class="titulo text-white">faça parte do nosso clan,assine nossa newsletter!</h5>
                        <div class="input-group justify-content-center caixa-email pt-3">
                            <form id="form" name="cadastrese" method="post" action="">
                                <input type="text" name="email" id="email" class="form-control caixa-inpult"
                                    placeholder="E-MAIL" aria-label="Recipient's username"
                                    aria-describedby="button-addon2">
                                <input class="btn btn-outline-secondary button-enviar" type="submit" value="cadastra" id="verificar-email">
                            </form>
                        </div>
                        <strong class="msg-error" style="display: none;"></strong>
                        <div class="d-flex justify-content-center align-items-center conteudo-icons pt-4">
                            <div class="box-icons">
                                <h5 class="m-0 text-white">Siga-nos em:</h5>
                            </div>
                            <div class="icons d-flex justify-content-between align-items-center mt-4">
                                <img class="icon-social me-1" src="assets/imagen/logo-facebook.png" alt="">
                                <img class="icon-social me-1" src="assets/imagen/logo-instagram.png" alt="">
                                <img class="icon-social me-1" src="assets/imagen/logo-yt.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>